@import "../../assets/mixins/mixins";
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.select-metric-option {
  display: flex;
  gap: 1rem;
  align-items: baseline;
  justify-content: flex-start;
}
.metric-select {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}
.metric-select h4 {
  @include secondaryFontBold();
  font-size: 1rem;
  color: $primary-color;
}
.message-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.btn-primary.next-btn {
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
legend {
  border: 1px solid #bfbfbf;
  border-radius: 8px;
}
.weight-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-theme {
  height: 100%;
  display: block;
  padding: 0.5rem;
  overflow: hidden;
  & fieldset {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
  }
}
.theme-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.final-metrics-container {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: scroll;
}
.final-metrics {
  @include secondaryFont();
  color: $text-color;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.form-select {
  text-align: left;
}
.form-select.btn {
  text-align: left !important;
  border: 1px solid $input-stroke;
  background-color: white;
  &:hover {
    background-color: $white;
  }
}
.dropdown-toggle::after {
  content: none !important;
}
.dropdown-checkbox {
  margin-right: 0.5rem;
}
.selected-languages {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 330px;
  overflow-y: scroll;
}
.selected-metrics {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  margin: 0;
  list-style-type: disc;
  list-style-position: inside;
}
.metric-group-expanded {
  display: block;
  background: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin: 8px 2px;
  border-radius: 20px 20px 8px 8px;
  transition: all .2s ease-in;
  padding-bottom: 8px;
}
.metric-group-collapsed {
  display: block;
  margin: 8px 2px;
  border-radius:  20px 20px 8px 8px;
  box-shadow: none;
  background: transparent;
  transition: all .3s ease-out;
}

.metric-list {
  @include secondaryFont();
  line-height: 1.5;
  color: #333;
  font-size: 13px;
  list-style: decimal;
}
.group-name{
  font-size: 14px;
  line-height: 1.2;
  color: $text-color;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.group-name-heading {
  @include secondaryFontBold();
  font-size: .875rem;
  color: $primary-color;
  margin-bottom: 2px;
}
.action-items {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.weights-value {
  @include secondaryFontBold;
  font-size: 13px;
  width: max-content;
  background-color: $primary-color;
  border-color: $primary-color;
  color: $white;
  display: flex;
  padding: 4px 8px;
  border-radius: 3px;
}
.expand-details {
  color: #262B3F;
  line-height: 1;
  padding: 4px;
  display: block;
  width: 32px;
  height: 32px;
  aspect-ratio: 1;
  cursor: pointer;
}
.theme-btn-collapsed {
  display: flex;
  justify-content: space-between;
  border: 1px solid $input-stroke;
  padding: 4px 12px 4px 16px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all .35s ease-in-out;
  align-items: center;
  flex: 1 1 auto;
}
.theme-btn-expanded {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:4px 12px 4px 16px;
  transition: all .5s ease-in-out;
}

.metrics-list {
  display: block;
  padding-left: 12px;
}

.theme-status-overflow {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.loader-container span{
  position: relative;
}
.loader-container span:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -38px;
  width: 32px;
  height: 32px;
  aspect-ratio: 1;
  border: 4px solid #e5e6e7;
  border-radius: 50%;
  border-top-color: $primary-color;
  animation: loading 2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.group-td:even {
  background-color: $white;
}

@media (max-width: 1179px) {
  .select-metric-option .Select-input {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .select-metric-option .Select-input {
    width: 100%;
  }
  .select-metric-option {
    flex-direction: column;
  }
}