@import "../../assets/mixins/mixins.scss";
.header-logo {
  width: 280px;
  display: block;
}
.header-container {
  background-color: #fff;
  padding: 6px 30px;
  border-bottom: 1px solid #242625;
  display: block;
}
.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.875rem;
  padding: 12px 0;
}
.user-details {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.user-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 28px;
  height: 28px;
  font-size: 28px;
  cursor: pointer;
}
.logout-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 28px;
  height: 28px;
  font-size: 28px;
  cursor: pointer;
}
.logout-icon:hover {
  color: red;
}
.user-name {
  @include secondaryFontBold();
  font-size: 0.875rem;
}
.user-email {
  font-size: 0.875rem;
}
.hamburger-icon {
  display: none;
  position: relative;
}
.justify-sm-between {
  justify-content: initial;
}

@media (max-width: 767.98px) { 
  .header-container {
    padding: 6px 8px;
  }
  .justify-sm-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger-icon {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
  }
  .hamburger-menu{
    width: 30px;
    height: 3px;
    background-color: #121212;
    display: block;
    position: relative;
  }
  .hamburger-menu::before{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #121212;
    position: absolute;
    top: -12px;
    right: 0;
  }
  .hamburger-menu::after{
    content: "";
    width: 30px;
    height: 3px;
    background-color: #121212;
    position: absolute;
    top: 12px;
    right: 0;
  }
  .user-info {
    animation: sideNavMove .3s ease-in-out forwards;
  }

}