@import "../../assets/mixins/mixins.scss";
.tab-component {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab-list li {
  margin-right: 10px;
}
.healthcard-tab .tab-list li {
  // flex: 1;
}

.tab-list button {
  @include secondaryFont();
  background-color: $white;
  border: 1px solid #d8dbda;
  border-bottom: 0;
  color: $text-color;
  padding: 1rem 1.25rem;
  margin: 0 2px;
  border-radius: 8px 8px 0 0;
}

.tab-list .active button {
  @include secondaryFontBold();
  background-color: $primary-color;
  color: $white;
  padding: 1rem 1.25rem;
  border: 1px solid $primary-color;
}

.custom-tabs {
  background-color: $white !important;
}
.custom-tabs .tab-list {
  background-color: $white !important;
  border-bottom: 1px solid #d8dbda;
}

.custom-tabs .tab-list button {
  @include secondaryFont();
  background-color: white;
  border: 0;
  color: #242526;
  padding: 0 1.25rem 0.875rem;
  margin: 0 2px;
  border-radius: 0;
}

.custom-tabs .tab-list .active button {
  @include secondaryFontBold();
  border-bottom: 3px solid $primary-color;
  color: $primary-color;
  padding: 0 1.25rem 0.875rem;
}

.tab-content {
  @include boxWithShadow();
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-top: none;
}

.custom-tabs .tab-content {
  padding: 20px 0;
  border: none;
  box-shadow: none;
}
