@import "../../assets/mixins/mixins.scss";

.home-desc {
  @include boxWithShadow();
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}
.recent-activity {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-nav {
  position: relative;
  display: flex;
  height: calc(100vh - 100px);
  padding: 1rem 0;
  max-height: 700px;
    max-width: 600px;
}
.menu-home {
  background-color: $primary-color;
  border-color: $primary-color;
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 130px);
  left: 80px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  .menu-icon {
    font-size: 86px;
    color: $white;
  }
  
  & div {
    background-color: $white;
  }
  &:active {
    background-color: $primary-color-hover;
  }
  &:hover {
    background-color: $primary-color-hover;
    transform: scale(1.1);
  }
  &:is(:hover, :focus, :active) {
    background-color: $primary-color-hover;
  }
  .menu-text {
    @include secondaryFontBold();
    font-size: 1rem;
    color: $white;
  }
}
.menu-list-nav {
  background-color: $primary-color;
  border-color: $primary-color;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 135px;
  height: 135px;
  text-decoration: none;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  & img {
    width: 64px;
    height: 64px;
  }
  &:active {
    background-color: $primary-color-hover;
  }
  &:hover {
    background-color: $primary-color-hover;
    transform: scale(1.075);
  }
  &:is(:hover, :focus, :active) {
    background-color: $primary-color-hover;
  }
  .menu-text {
    @include secondaryFontBold();
    font-size: 1rem;
    color: $white;
  }
}
.circle-menu {
  position: absolute;
}
.help-menu-icon {
  font-size: 60px;
  color: $white;
}
.user-activity {
  display: flex;
  gap: 1.5rem;
}
.user-menu {
  height: 100%;
  max-height: 350px;
  overflow-y: scroll;
}

@media (max-width:767px) {
  .menu-list-nav {
    width: 90px;
    height: 90px;
  }
  .menu-list-nav img {
    width: 36px;
    height: 36px;
  }
  .menu-list-nav .menu-text {
    font-size: .75rem;
  }
  .menu-home {
    width: 130px;
    height: 130px;
    top: calc(50% - 200px);
    left: 20px;
  }
  .menu-home .menu-icon{
    font-size: 48px;
  }
  .user-activity {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.15);
    margin-bottom: 1rem;
  }
  .user-activity p {
    margin-bottom: 0;
  }
}