$primary-color: #0D47A0;
$primary-color-hover: #093373;
$secondary-blue:#93CFFF;
$background-color:#F0F3F8;

$white:#fff;
$text-color:#242526;
$text-dark-color:#072148;
$table-stroke-color:#DFDFDF;
$stroke-color:#949494;
$input-stroke:#E4E8E9;