@import "../../assets/mixins/mixins.scss";
#wrapper1,
#wrapper2 {
  width: 100%;
  border: none 0px $table-stroke-color;
  overflow-x: scroll;
  overflow-y: hidden;
}
#wrapper1 {
  height: 20px;
}
#wrapper2 {
  height: 100%;
}
#div1 {
  width: 100%;
  height: 20px;
  background-color: red($color: #000000);
}
#div2 {
  width: 100%;
  height: 100%;
  background-color: #88ff88;
  overflow: auto;
}

.insights-table {
  th,
  td {
    white-space: nowrap;
  }

  .sticky-brand {
    position: sticky;
    left: 0;
    background-color: #ffffff; // or any other background color you prefer
    z-index: 2; // ensures the sticky column stays above the other content
    border-right: 1px solid #dee2e6; // adds a border for distinction
  }

  .sticky-brand-header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #f8f9fa; // background for header row
  }
}
