@import "../../assets/mixins/mixins.scss";
.chart-group {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.chart-list {
  @include boxWithShadow();
  width: calc(50% - 1rem);
}
.dq-score-bubble {
  @include boxWithShadow();
  width: 100%;
}
.project-filter {
  background-color: #f0f3f7;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  .range-filter {
    background-color: $white;
    padding: 0.65rem;
    border-radius: 6px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    flex: 0 0 auto;
    border: 1px solid rgba(0, 0, 0, 15%);
    .form-label {
      white-space: nowrap;
    }
  }
}
.dq-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.score-box {
  display: flex;
  gap: .5rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    width: 125px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 4px;
   &:nth-child(1) {
    background-color: #C1DED3;
    border: 1px solid #91b1a5;
   }
   &:nth-child(2) {
    background-color: #d8e6ed;
    border: 1px solid #c0ccd2;
   }
   &:nth-child(3) {
    background-color: #DFE9DE;
    border: 1px solid #c6d0c5;
   }
   &:nth-child(4) {
    background-color: #dad2ea;
    border: 1px solid #bdb6cb;
   }
   &:nth-child(5) {
    background-color: #E2E3EF;
    border: 1px solid #c4c5cf;
   }
   .scoreTitle {
    @include secondaryFont();
    color: #333;
    display: block;
    text-align: center
   }
   .scoreValue {
    @include secondaryFontBold();
    color: #121314;
    display: block;
    text-align: center;
   }
  }
}
@media (max-width:768px) {
  .chart-list {
    width: 100%;
  }
  .project-filter {
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding: .5rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .dq-score-bubble {
    margin-top: 1rem;
  }
  .chart-list,
  .dq-score-bubble,
  .chart-box {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
  }
}