@import "../../assets/mixins/mixins.scss";
// .chart-group {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 1rem;
//   width: 100%;
// }
// .chart-list {
//   flex: 1 1 auto;
//   @include boxWithShadow();
//   width: calc(50% - 1rem);
//     &:nth-child(5) {
//       align-self: flex-start;
//       width: calc(100% - 1rem);
//     }
// }
.chart-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.left-side {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  .chart-list {
    @include boxWithShadow();
    width: calc(50% - 1rem);
    padding: 10px;
    box-sizing: border-box;
  }
}

.right-side {
  display: flex;
  align-items: flex-start;
  .chart-list {
    @include boxWithShadow();
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}

.dq-score-bubble {
  @include boxWithShadow();
  width: 100%;
}
.project-filter {
  background-color: #f0f3f7;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  .range-filter {
    background-color: $white;
    padding: 0.65rem;
    border-radius: 6px;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    flex: 0 0 auto;
    border: 1px solid rgba(0, 0, 0, 15%);
    .form-label {
      white-space: nowrap;
    }
  }
}
.dq-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.score-box {
  display: flex;
  gap: .5rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    width: 110px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 4px;
   &:nth-child(1) {
    background-color: #BE7CE2;
    border: 1px solid #BE7CE2;
   }
   &:nth-child(2) {
    background-color: #0d47a0;
    border: 1px solid #0d47a0;
   }
   &:nth-child(3) {
    background-color: #FF9800;
    border: 1px solid #FF9800;
   }
   &:nth-child(4) {
    background-color: #279E70;
    border: 1px solid #279E70;
   }
   &:nth-child(5) {
    background-color: #C82519;
    border: 1px solid #C82519;
   }
   .scoreTitle {
    @include secondaryFont();
    color: #FFF;
    display: block;
    text-align: center;
    line-height: 1;
    padding-bottom: 4px;
   }
   .scoreValue {
    @include secondaryFontBold();
    color: #FFF;
    display: block;
    text-align: center;
    line-height: 1;
   }
  }
}
.brand-select-option.w-160 {
  width: 160px;
  .multi-select-dropdown {
    width: 160px;
  }
}
@media (max-width:768px) {
  .chart-list {
    width: 100%;
  }
  .project-filter {
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding: .5rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .dq-score-bubble {
    margin-top: 1rem;
  }
  .chart-list,
  .dq-score-bubble,
  .chart-box {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
  }
}

.brand-option {
  display: flex;
  gap: .5rem;
  align-items: center;
  .brand-select-option {
    display: flex;
    width: 160px;
    .brand-select-input {
      width: 160px;
      display: flex;
      appearance: auto;
      padding: 4px 12px 4px 6px;
      border: 1px solid $text-color;
      border-radius: 6px;
      height: 44px;
    }
  }
}

.bar-chart, 
.no-data-text {
  min-height: 180px;
  width: 100%;
  display: block;
}
@media (max-width:1023px) {
  .chart-container {
    display: grid ;
    grid-template-columns: 100%;
  }
  .left-side {
    gap: 0rem;
  }
  .left-side .chart-list {
    width:100%
  }
}