@import "../../assets/mixins/mixins.scss";
.layout {
  display: flex;
}
.workspace-container {
  display: block;
  padding-right: 1rem;
}
.create-workspace {
  @include secondaryFontBold();
  border-radius: 8px;
  border: none;
  background-color: $primary-color;
  color: $white;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 150px;
  height: 138px;
  padding-bottom: 22px !important;
}
.create-workspace-icon {
  font-size: 40px;
  color: $white;
  padding-bottom: 12px;
}
.modal-body {
  height: 100%;
}

// .Select-input:focus {
//     background-image:
//       linear-gradient(45deg, #0D47A0 50%, transparent 50%),
//       linear-gradient(135deg, transparent 50%, #0D47A0 50%),
//       linear-gradient(to right, #ccc, #ccc);
//     background-position:
//     calc(100% - 15px) 1.35em,
//     calc(100% - 20px) 1.35em,
//     calc(100% - 2.5em) 0.9em;
//     background-size:
//       5px 5px,
//       5px 5px,
//       1px 1.5em;
//     background-repeat: no-repeat;
//     border-color: #0D47A0;
//     outline: 0;
//   }
.project-table-data {
  @include boxWithShadow();
  border: 1px solid rgba(0, 0, 0, 30%);
  table {
    th {
      .table-heading{

        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    td{
      text-align: left;
    }
  }
}

.btn-close {
  transition: all 0.3s ease-in-out;
}

.btn-close:hover {
  transform: rotate(180deg);
}

.modal-content {
  height: calc(100vh - 100px);
}

select {
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.form-control-select {
  background-image:
    linear-gradient(45deg, transparent 50%, #333 50%),
    linear-gradient(135deg, #333 50%, transparent 50%);
  background-position:
    calc(100% - 23px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
  8px 8px, 8px 8px, 0px 2.5em;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  border:1px solid #ddd;
  padding: 12px;
}

select.form-control-select:focus {
  border-color:  #E0E3E8;
  outline: 0;
}
.tdLink {
  text-decoration: underline;
  color: $primary-color !important;
  font-weight: 700;
}

.actionITems {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: .5rem;
  .action-item-icon {
    cursor: pointer;
    font-size: 22px;
    color: $text-color;
    padding: 3px;
    &:hover {
      color: $text-danger;
    }
  }
}

@media (max-width:767px) {
  .workspace-container {
    padding: 0 .75rem;
  }
  .modal-content {
    height: calc(100vh - 40px);
  }

}