@import "../../assets/mixins/mixins.scss";
.sidebar-container {
  width: calc(100% - 1rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #072148;
  min-height: calc(100vh - 86px);
  margin-right: 1rem;
}
.side-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  &:first-child {
    margin-top: 30px;
  }
}
.side-nav a {
  background-color: $white;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-color;
  &:nth-child(2) {
    background-color: transparent;
    width: max-content;
    display: flex;
  }
}
.sidenav-icon {
  font-size: 36px;
  color: $text-color;
}
.sidenav-icon.active {
  color: $text-danger;
}
.sidenav-icon-img {
  width: 36px;
  height: 36px;
  color: $text-color;
}
.icon-active {
  color: #d33f38;
}
.mob-menu {
  display: none;
}
@media (max-width:767px) {
  .sidebar-container {
    position: absolute;    
    width: 100%;
    left: 0;
    z-index: 1;
    align-items: flex-start;
    padding: 0 1.5rem;
    animation: sideNavMove .5s ease-in-out forwards;
  }
  @keyframes sideNavMove {
    0% {
      top: -100%;
    }
    100% {
      top: 150px;
    }

  }
  .mob-menu {
    font-size: 16px;
    text-transform: uppercase;
    color: $white;
    line-height: 1;
    display: flex;
    white-space: nowrap;
  }
  .side-nav {
    column-gap: 1rem;
    justify-content: flex-start;
  }
}