@import "../../assets/mixins/mixins.scss";

.analytics-filter {
  @include boxWithShadow();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.export-btn-container {
  display: flex;
  position: relative;
}
.filter-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.save-table-btn {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding-top: 1rem;
}
.form-control.weights-input {
  width: 120px;
}
.analytics-table {
  & tr:first-child {
    @include secondaryFontBold();
    background-color: $white;
    & span {
      color: $text-color !important;
    }
  }
}
.filter-btn {
  position: relative;
  .filter-table-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    gap: 1rem;
  }
}
.metric-name {
  display: flex;
  align-items: center; 
  justify-content: center;
}
.info-icon {
  display: flex;
  width: 12px;
  height: 12px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: $primary-color;
  margin: 0 6px;
  cursor: pointer;
}
@media (max-width:767px) {
  .analytics-filter {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  // .export-btn-container {
  //   flex-direction: column;
  // }
  .Select-input {
    width: 100% !important;
    max-width: 330px;
  }
  .export-btn {
    white-space: nowrap;
  }
}