.thead-align {
    display: flex;
    gap: .5rem;
    align-items: center;
}
.filter-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 12px;
}
.checkbox-header{
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}